<section class="doc_banner_area banner_creative1">
    <ul class="list-unstyled banner_shap_img">
        <li><img alt="" src="img/new/banner_shap1.png"></li>
        <li><img alt="" src="img/new/banner_shap4.png"></li>
        <li><img alt="" src="img/new/banner_shap3.png"></li>
        <li><img alt="" src="img/new/banner_shap2.png"></li>
        <li><img alt="" data-parallax='{"x": -180, "y": 80, "rotateY":2000}' src="img/new/plus1.png"></li>
        <li><img alt="" data-parallax='{"x": -50, "y": -160, "rotateZ":200}' src="img/new/plus2.png"></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="doc_banner_content">
            <h2 class="wow fadeInUp">{{ include.title }}</h2>
        </div>
    </div>
</section>